<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action ="/skills" method="POST">
        <label for ="nskill">Add a new skill!</label><br>
        <input type="text" id="nskill" placeholder="Add New Skill" name="newskill">
        <button>Submit!</button>
      </form>
</body>
</html>