<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This page is to show off m: <%= skill %> skill</h1>
<a href="/skills/<%=id.id%>/edit">Edit Comments</a>
<form  method="POST" action="/skills/<%=id.id%>?_method=DELETE">
    <button>delete</button>
</form>
</body>
</html>


